{% extends 'base.html' %}


{% block content %}

<div class="container bg-primary text-light">
    <br>
    <div class="row">
      <div class="col-sm-8">
        <br>
        <h5></h5>
        <h4></h4>
        <blockquote class="blockquote text-center">
          <p class="mb-0">"Thank you for visiting our FoutBPrints website. We started FoutBPrints in 2018 to support our local community and at the activities of our 4 boys, hence the name. Since, then we have grown well beyond that and ready to meet all your printing needs. From T-shirts to full warm-up gear and bags we are here to help you! We strive to treat each and every client no matter the size of your order as as if you were a member of our family! So from our family to you.... We look forward to working together"!</p>
          <footer class="blockquote-footer text-dark">Misty Mata<cite title="Source Title">Founder/Owner</cite></footer>
        </blockquote>
      </div>
      <div class="col-sm-4 text-center">
        <img src="/static/img/misty.jpg" style="width:50%" class="rounded-circle" alt="tshirts owner">
      </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <img src="/static/img/mistyfam.jpg" style="width:100%" class="" alt="printers family">
        </div>
    </div>
</div>

{% endblock content %}