h1{
   color:red; 
   font-family:'Original Surfer', cursive;
}

h2{
 color:red; 
 font-family:'Original Surfer', cursive;
}

 .homepagebg{
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    background-blend-mode: saturation;
    top: 20px;
  }
  