h1, h2, h3, h4, h5, p{
   font-family: 'Cabin Sketch', cursive;
}
.nav-pills .pill-1 .nav-link {
   background-color: red;
   color: white;
}


 .homepagebg{
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    background-blend-mode: saturation;
    top: 20px;
  }
  