h1, h2, h3, h4, h5, p{
   font-family: 'Cabin Sketch', cursive;
}
/* not active */
.nav-pills .pill-1 .nav-link:not(.active) {
   background-color: green;
   color: white;
}

.nav-pills .pill-2 .nav-link:not(.active) {
   background-color: green;
   color: white;
}

.nav-pills .pill-3 .nav-link:not(.active) {
   background-color:  green;
   color: white;
}


/* active (faded) */
.nav-pills .pill-1 .nav-link {
   background-color:black;
   color: white;
}

.nav-pills .pill-2 .nav-link {
   background-color: black;
   color: white;
}

.nav-pills .pill-3 .nav-link {
   background-color: black;
   color: white;
}


 .homepagebg{
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    background-blend-mode: saturation;
    top: 20px;
  }
  